
.explore-new-container {
  margin-top: 200px;
}

.explore-new__title {
  font-size: 2.8rem;
  font-weight: bold;
  text-align: center;
  color: var(--white-color);
  margin: 0 30px;
}

.slick-prev {
  position: absolute;
  left: 25%;
  z-index: 1;
  top: 396px;
}

.slick-next {
  position: absolute;
  right: 25%;
  z-index: 1;
  top: 396px;
}

.explore-new__slider-container {
  margin-top: 48px;
}

.explore-new-container img {
  margin: auto;
}

.slick-dots {
  position: relative;
  /* width: 140px; */
  margin-top: 40px;
  /* background-color: tomato; */
}

.slick-dots li {
  width: 12px;
  height: 12px;
  margin: 0 4px;
}

.slick-dots li button {
  width: 12px;
  height: 12px;
  padding: 0;
}

.slick-dots li button:before {
  position: static;
  color: var(--white-color);
  font-size: 12px;
  line-height: 12px;
}

.slick-dots li.slick-active button:before {
  color: var(--white-color);
}

.slick-next:before {
  font-family: FontAwesome;
  content: '\f105';
}

.slick-prev:before {
  font-family: FontAwesome;
  content: '\f104';
}