
.created-videos-container {
  color: var(--white-color);
  margin: 200px 30px 0;
}

.created-videos__title {
  font-size: 2.8rem;
  font-weight: bold;
}

.created-videos__subtitle {
  margin-top: 16px;
  font-size: 1.8rem;
  font-weight: 400;
}

.created-videos__subtitle span {
  background: -webkit-linear-gradient(135deg, #43CBFF 0%, #9708CC 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.created-videos__random-albums-container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 56px;
  height: 320px;
}

.created-videos__random-albums-container img {
  width: 100%;
}

.created-videos__random-albums-container--text {
  position: absolute;
  top: 0;
  font-size: 6rem;
  font-weight: bold;
  -webkit-text-stroke: 1px var(--grey-color);
  color: var(--black-color);
  text-align: center;
  z-index: -10;
}

/* Uplifting albums */

.created-videos__uplifting-album--0 {
  position: absolute;
  width: 136px;
  height: 136px;
  top: 48px;
  left: 0;
}

.created-videos__uplifting-album--1 {
  position: absolute;
  width: 112px;
  height: 112px;
  top: 48px;
  right: 16px;
}

.created-videos__uplifting-album--2 {
  position: absolute;
  width: 136px;
  height: 136px;
  top: 140px;
  left: 85px;
  z-index: 1;
}

.created-videos__uplifting-album--3 {
  position: absolute;
  width: 136px;
  height: 136px;
  bottom: 0;
  right: 16px;
}

/* Uplifting albums ends here */