
.hover-album-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 355px;
  height: 355px;
  background-color: var(--black-color);
  opacity: .5;
}

.hover-album__text {
  font-size: 5.1rem;
  font-weight: 700;
  font-style: normal;
  -webkit-text-stroke: 2px var(--grey-color);
}