.hero__container {
  height: 100vh;
}

.hero__title {
  position: relative;
  font-size: 24.8rem;
  font-weight: bold;
  margin-top: 80px;
  left: -80px;
  -webkit-text-stroke: 2px var(--grey-color);
}

.hero__section-container {
  margin-left: 30px;
}

.hero__section-container--year {
  color: var(--yellow-color);
  font-size: 3rem;
  font-weight: 700;
}

.hero__section-container--text {
  color: var(--white-color);
  font-size: 4rem;
  font-weight: 700;
  margin-top: 16px;
}

.hero__section-container--button {
  background-color: var(--yellow-color);
  width: 86px;
  height: 41px;
  border: none;
  border-radius: 40px;
  margin-top: 16px;
  font-family: 'Inter', sans-serif;
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--black-color);
  outline: none;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .hero__container {
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-self: center;
    margin: 0 auto 156px;
  }

  .hero__title {
    font-size: 56rem;
    margin: 0;
    left: -104px;
  }

  .hero__section-container {
    position: relative;
    margin: 0;
    padding-left: 25px;
    width: 100%;
  }

  .hero__section-container--year {
    font-size: 3.7rem;
  }

  .hero__section-container--text {
    font-size: 5rem;
    width: 377px;
  }

  .hero__section-container--button {
    width: 179px;
    height: 78px;
    font-size: 2.4rem;
  }
}

@media screen and (min-width: 1366px) {
  .hero__container {
    display: flex;
    flex-direction: row;
    max-width: 1366px;
    justify-self: center;
    margin: 0 auto;
    overflow-x: hidden;
  }

  .hero__title {
    font-size: 64rem;
    margin: 0;
    left: -104px;
  }

  .hero__section-container {
    position: relative;
    margin: 0;
    padding-top: 255px;
    width: 100%;
  }

  .hero__section-container--year {
    font-size: 3.7rem;
  }

  .hero__section-container--text {
    font-size: 5rem;
    width: 377px;
  }

  .hero__section-container--button {
    width: 179px;
    height: 78px;
    font-size: 2.4rem;
  }
}
